:root{
    --fonte-principal: 'Inter';
    --titulo: #ffffff;
    --letras: #c09d9d;
    --letras-animada: #cc00ff;
    --fundo: #000000;
    --fundo2: #2c2c2c;
    --fundo-animado: #000000;
    --borda: #31484b;
    --borda-animada: #3700ff;
    --card: #2f3738;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--fundo2);
}

header {
    background: var(--fundo);
    color: var(--titulo);
    padding: 10px 0;
    text-align: center;
}

#characterContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/*Cards*/
.character {
    color: var(--letras);
    background: var(--card);
    border: 2px solid var(--borda);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.7s, color 1s, background-color 1s, border 0.3;
}

/*Efeitos de mouse*/
.character:hover {
    transform: scale(1.1);
    color: var(--letras-animada);
    background-color: var(--fundo-animado);
    border-color: var(--borda-animada);
}

/*Rodapé*/
footer#rodape {
    color: var(--titulo);
    margin-top: auto;
    clear: both;
    border-top: 1px solid var(--borda);
}

footer#rodape p {
    text-align: center;
}

footer#rodape a {
    text-decoration: none;
    color: var(--titulo);
}

footer#rodape a:hover{
    color: blue;
    text-decoration: underline;
}